.Left-side{
    background-image: url("https://i0.wp.com/corpcomputersonline.com/wp-content/uploads/2017/05/web-designer-pune-background.jpg?w=1900&ssl=1"); 
    background-position: "center";
    background-repeat: "no-Repeat";
    background-size: "cover";
    position: absolute;
    height: 100vh; 
    width: 100vw;
}