.App{
    background-image: url("https://i0.wp.com/corpcomputersonline.com/wp-content/uploads/2017/05/web-designer-pune-background.jpg?w=1900&ssl=1"); 
    background-position: "center";
    background-repeat: "no-Repeat";
    background-size: "cover";
    position: absolute;
    height: 100vh; 
    width: 100vw;
}
body, html {
    height: 100%;
    margin: 0;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: "10%";
}
.Left-side{
    background-image: url"(images/a.jpg)"; 
    background-repeat: "no-Repeat";
    background-size: "cover";
    background-position: "center";
    height: 100vh; 
    width: 100vw;
}